on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (R-${{ matrix.config.r }} rust-${{ matrix.config.rust-version }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release', rust-version: '1.58-msvc', rtools-version: '42'}
          - {os: windows-latest, r: '4.1',     rust-version: '1.58-msvc'}
          - {os: macOS-latest,   r: 'release', rust-version: '1.58'}
          - {os: ubuntu-latest,  r: 'release', rust-version: '1.58'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      TOOLCHAIN: ${{ matrix.config.rust-version }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.config.rust-version }}
          default: true

      - name: Add Rust targets for R < 4.2 on Windows
        if: startsWith(runner.os, 'Windows') && matrix.config.r == '4.1'
        run: |
          rustup target add x86_64-pc-windows-gnu
          rustup target add i686-pc-windows-gnu

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
          rtools-version: ${{ matrix.config.rtools-version }}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: rcmdcheck

      - uses: r-lib/actions/check-r-package@v2
        with:
          error-on: '"never"'


      - name: print R CMD check - install log
        shell: bash
        env:
          RUNNER_OS: ${{ runner.os }}
        run: |
          echo $RUNNER_OS
          if [ "$RUNNER_OS" == "Linux" ]
          then
            less /home/runner/work/hello_polars/hello_polars/check/hellopolars.Rcheck/00install.out
          fi
          if [ "$RUNNER_OS" == "Windows" ]
          then
            less D:/a/hello_polars/hello_polars/check/hellopolars.Rcheck/00install.outk
          fi
          if [ "$RUNNER_OS" == "macOS" ]
          then
            less /Users/runner/work/hello_polars/hello_polars/check/hellopolars.Rcheck/00install.out
          fi